.ted {
    font-family: fantasy;
    color: #ffa200;
    font-style: italic;
    text-decoration: underline green 4px;
}

.bio {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    border: 2px solid black;
    width: max-content;
    font-family: "Comic Sans MS";
}

.bio .text {
    width: 300px;
    margin-left: 10px
}
.bio .image {
    height: calc(100% - 20px);
    padding: 10px;
}

form {
    width: 600px
}
form ul {
    margin: 10px
}
form li{
    display:grid;
    grid-template-columns: 1fr 4fr;
    list-style: none;
}
form button {
    margin: 10px;
    width:fit-content;
}

textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;

    /* Provide space to type some text */
    height: 5em;
    resize: vertical;
}