@import 'colors';
@import 'reset';
@import 'navbar';
@import 'overlay';


body {
  color: $text;
  background-color: $primary-background;
}

#page {
  margin: 10px 40px;
}

.ted {
  font-family: fantasy;
  color: $accent1;
  font-style: italic;
  text-decoration: underline $accent2 4px;
}

.page-body {
  margin: 10px auto auto;
  max-width: 1008px;
}

.widgets-area {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  width:100%
}

#bio {
  //margin: auto;
  padding: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  border: 2px solid $accent2;
  font-family: "Comic Sans MS";

  .text {
    width: 100%;
    margin-left: 10px
  }

  .image {
    //max-height: calc(100% - 20px);
    max-width: calc(100% - 20px);
    padding: 10px;
  }
}




.contact-form {
  margin: auto;

  ul {
    margin: 10px;
  }

  li {
    display:grid;
    grid-template-columns: 1fr 4fr;
    list-style: none;
  }
  button {
    margin: 10px;
    width:fit-content;
  }

  textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
  }
}
